* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Inter', system-ui, sans-serif;
    overflow: hidden;
}

#root,
body,
html {
    height: 100%;
}
